.TitreTxt {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
    font-style: italic;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
    color: chartreuse;
}

.titre {
    width: 850px;
    height: 350px;
    background: linear-gradient(rgb(240, 153, 12),yellow);
    text-align: center;
}